@import 'node_modules/foundation-sites/scss/foundation.scss';
@include foundation-global-styles;
@include foundation-grid;

div {
    border: 2px solid black;
    @include grid-column(6);
    text-align: center;
}

.block {
    height: 200px;
    border: 2px solid black;
}

.name {
    display: block;
}

h2 {
    font-size: 30px;
}

button {
    border: 1px solid white;
    padding: 5px 8px;
    text-align: center;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 10px;
}

.opaque {
    opacity: .6;
}

.stamp {
    // position: absolute;
    // padding: 0;
    // width: 50%;
    // vertical-align: center;
}

